.back-btn a {
  text-decoration: none;
  color: lemonchiffon;
}

.back-btn {
  height: 40px;
  color: #fff;
  background: crimson;
  padding: 5px 30px;
  margin: 50px;
  border: none;
  border-radius: 5px;
  transition: background 0.4s ease, border 0.4s ease;
  cursor: pointer;
}

.back-btn:hover {
  background: none;
  border: 2px solid crimson;
}

#product-detail img {
  margin: 5px;
  padding: 50px;
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
#product-detail {
  margin: 50px 100px 100px 50px;
  background: rgba(0, 0, 0, 0.7);
  border: 1px solid;
  border-radius: 8px;
  box-shadow: 0 4px 6px black;
  padding: 45px;
  text-align: justify;
}
